.Page {
  width: 100%;
}

.Page__header {
  margin-bottom: 1em;
}

.Page__title {
  color: var(--900);
}

.Page__section {
  max-width: 966px;
  min-height: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-top: 1em;
  padding-right: 1em;
  padding-left: 1em;
}
