.Page {
  width: 100%;
}

.Page__header {
  height: 58px;
  border-bottom: 1px solid #ccc;
}

.Page__section {
  max-width: 966px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 1em;
  padding-left: 1em;
  background-color: #fff;
}
