.TextList {
  display: flex;
  flex-wrap: wrap;
  margin-top: -1em;
  margin-left: -1em;
}

.TextItem {
  display: flex;
  flex-direction: column;
  width: calc(33.3% - 1em);
  margin-top: 1em;
  margin-left: 1em;
  border-radius: .5em;
  background-color: var(--primary);
  overflow: hidden;
}

.TextItem__body,
.TextItem__footer {
  padding: 1em;
}

.TextItem__footer {
  background-color: rgba(0,0,0,.2);
}

.TextItem__title,
.TextItem__description {
  color: var(--white);
}

.TextItem__title {
  font-size: 1.25em;
}
